{% extends 'baseLogin.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h4>Change Password</h4>
<hr />
<div class="item">
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
            {% if field.errors %}
            <div style="color: red;">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        <button style="margin-top: 20px;">Request Password Reset</button>
    </form>
    <hr />
    <a href="{% url 'login' %}">Go to login</a>
</div>
{% endblock %}