{% extends 'baseLogin.html' %}

{% block content %}
<h4>Change New Password</h4>
<hr />
<div class="item">
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="new_password1">New Password</label>
            {% if form.errors %}
            <input type="password" id="new_password1" name="new_password1" required style="border-color: red;">
                <div style="color: red;">
                    {% for field, errors in form.errors.items %}
                        {% if field|stringformat:"s" == "new_password1" %}
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
            <input type="password" id="new_password1" name="new_password1" required>
            {% endif %}
        </div>
        <div>
            <label for="new_password2">Confirm Password</label>
            {% if form.errors %}
            <input type="password" id="new_password2" name="new_password2" required style="border-color: red;">
                <div style="color: red;">
                    {% for field, errors in form.errors.items %}
                        {% if field|stringformat:"s" == "new_password2" %}
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
            <input type="password" id="new_password2" name="new_password2" required>
            {% endif %}
        </div>
        <button style="margin-top: 20px;" type="submit">Reset Password</button>
    </form>
</div>
{% endblock content %}