{% extends 'baseLogin.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h4>Change Password</h4>
<hr />
<div class="item">
    <form method="POST" action="{% url 'forgot-pass' %}">
        {% csrf_token %}
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
            {% if field.errors %}
            <div style="color: red;">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            {% if field.errors %}
            <div style="color: red;">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% comment %} <div>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required>
            {% if field.errors %}
            <div style="color: red;">
                {{ field.errors }}
            </div>
            {% endif %}
        </div> {% endcomment %}
        <button style="margin-top: 20px;">Change Password</button>
    </form>
    <hr />
    <a href="{% url 'login' %}">Go to login</a>
</div>
{% endblock %}

{% comment %} <label for="username">Email Address</label>
<input type="text" id="Email" />
<label for="username">Username</label>
<input type="text" id="username" />
<label for="password">Password</label>
<input type="password" id="password" />
<label for="password">Confirm Password</label>
<input type="password" id="confirm-password" />
<button style="margin-top: 20px;">Change Password</button>
<hr />
<a href="{% url 'login' %}">Go to login</a> {% endcomment %}
