{% extends 'baseLogin.html' %}

{% block title %}LogIn{% endblock %}

{% block content %}
<h4>Sign In</h4>
<hr />
<div class="item">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.errors %}
        <div style="color: red;">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            {{ error }}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Log In</button>
    </form>

    <hr />
    <a href="{% url 'forgot-pass' %}">Forgot Password?</a>
    <a href="{% url 'register' %}">Register</a>

</div>
{% endblock %}

<!-- <label for="username">Username or Email Address</label>
<input type="text" id="username" />
<label for="password">Password</label>
<input type="password" id="password" />
<div class="checkbox-container">
    <input type="checkbox" id="remember-me" />
    <label for="remember-me">Remember Me</label>
</div>
<button>Log In</button>
<hr />
<a href="{% url 'forgot-pass' %}">Forgot Password?</a>
<a href="{% url 'register' %}">Register</a> -->