{% extends 'baseLogin.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h4>Register</h4>
<hr />
<div class="item">
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {% if messages %}
        <div style="color: red;">
            <ul>
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required {% if form.errors.email %}style="border-color: red;" {% endif %}>
            {% if form.errors.email %}
                <div style="color: red;">
                    {% for error in form.errors.email %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required {% if form.errors.username %}style="border-color: red;" {% endif %}>
            {% if form.errors.username %}
                <div style="color: red;">
                    {% for error in form.errors.username %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="password1">Password</label>
            <input type="password" id="password1" name="password1" required {% if form.errors.password1 %}style="border-color: red;" {% endif %}>
            {% if form.errors.password1 %}
                <div style="color: red;">
                {% for error in form.errors.password1 %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" name="password2" required {% if form.errors.password2 %}style="border-color: red;" {% endif %}>
            {% if form.errors.password2 %}
                <div style="color: red;">
                {% for error in form.errors.password2 %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <button type="submit" style="margin-top: 20px;">Register</button>
    </form>
    <hr />
    <a href="{% url 'login' %}">Already have an account?</a>
</div>
{% endblock %}
